# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Environment / API keys
api

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/
